body {
    height: 1vh;
    width: auto;
    background-color: rgba(250, 251, 248, 1);
}
h1 {
    font-family: 'Monsieur La Doulaise';
    font-size: 6.5em;
    text-align: center;
}
h2 {
    font-family: 'Averia Serif Libre';
    font-size: 2.75em;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-family: 'Averia Serif Libre';
    font-size: 3em;
}
h4 {
    font-family: 'Averia Serif Libre';
    font-size: 3.25em;
}
h5 {
    font-family: 'Averia Serif Libre';
    font-size: 2em;
    font-weight: bold;
}
ul {
    justify-content: center;
}
div.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
}
button.navbutton {
    padding: 10px;
    margin: auto;
    background-color: #FAFBF8;
    border: none;
    text-align: center;
    color: rgba(31, 17, 16, 1);
    font-family: 'Fredericka the Great';
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
button.navbutton:hover {
   color: rgba(203, 133, 137, 1);
}
div.header {
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 250px;
}
div.img {
    text-align: center;
}
img {
    height: auto;
    width: 550px;
}
div.bottomimg {
    text-align: center;
    transform: rotate(180deg);
}
div.schedule {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
div.schedule p {
    font-family: 'Averia Serif Libre';
    font-size: 1.5em;
}
div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    align-content: stretch;
    margin-top: 250px;
    margin-bottom: 175px;
}
div.container p {
    font-family: 'Averia Serif Libre';
    font-size: 1.5em;
    font-style: italic;
}
.venue-left-half {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(248, 237, 222, 1);
    padding-left: 50px;
    padding-right: 50px;
}
.venue-right-half {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("images/linen\ lattice.jpg");
    text-align: center;
    vertical-align: middle;
}
.hotel-left-half {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("images/champagne\ arabic.jpg");
    text-align: center;
    vertical-align: middle;
}
.hotel-right-half {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgba(240, 207, 161, 1);
    padding-left: 50px;
    padding-right: 50px;
}
.travel-left-half {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgba(215, 179, 168, 1);
    padding-left: 50px;
    padding-right: 50px;
}
.travel-right-half {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("images/pink\ mosaic.jpg");
    text-align: center;
    vertical-align: middle;
}
.tourism-left-half {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url("images/green\ stars.jpg");
    text-align: center;
    vertical-align: middle;
}
.tourism-right-half {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgba(188, 197, 168, 1);
    padding-left: 50px;
    padding-right: 50px;
}
button.linkButton {
    padding: 1.5em, 1.5em, 1.5em, 1.5em;
    background-color: #FAFBF8;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: rgba(31, 17, 16, 1);
    font-family: 'Fredericka the Great';
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 25%;
    margin-bottom: 25%;
}
button.linkButton:hover {
    color: rgba(203, 133, 137, 1);
 }
div.gifts {
    font-family: 'Averia Serif Libre';
    font-size: 1.5em;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 25%;
    margin-right: 25%;
}
div.RSVP {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}
div.contactInfo {
    display: grid;
    grid: 1fr, 1fr / 1fr, 1fr;
    padding: 20px;
    margin-bottom: 30px;
    align-content: stretch;
    justify-content: stretch;
    text-align: center;
}
div.title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
div.hk {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.ab {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.contactInfo p {
    font-family: 'Averia Serif Libre';
    font-size: 1em;
}
div.contactInfo span {
    font-family: 'Averia Serif Libre';
    font-size: 1.25em;
    font-weight: bold; 
}
.topButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(219, 178, 60, 1); /* Set a background color */
    box-shadow: 0 8px 15px 0 rgba(31, 17, 16, 0.2);
    color: (#050D43); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: 'Fredericka the Great';
    font-size: 1em;
    text-align: center;
  }
  
.topButton:hover {
    background-color:rgba(250, 251, 248, 1);
  }

/* RGB 
color1: rgba(31, 17, 16, 1); xiketic 
color2: rgba(4, 36, 63, 1); oxford blue
color3: rgba(36, 89, 44, 1); hunter green
color4: rgba(188, 197, 168, 1); laurel green
color5: rgba(203, 133, 137, 1); old rose
color6: rgba(215, 179, 168, 1); silver pink
color7: rgba(219, 178, 60, 1); gold
color8: rgba(240, 207, 161, 1); deep champagne
color9: rgba(248, 237, 222, 1); linen
color10: rgba(250, 251, 248, 1); baby powder */

/* HEX
color1: #1f1110ff; xiketic 
color2: #04243fff; oxford blue
color3: #24592cff; hunter green
color4: #bcc5a8ff; laurel green
color5: #cb8589ff; old rose
color6: #d7b3a8ff; silver pink
color7: #dbb23cff; gold
color8: #f0cfa1ff; deep champagne
color9: #f8eddeff; linen
color10: #fafbf8ff; baby powder */

/* Font styling
font-family: 'Averia Serif Libre', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'KoHo', sans-serif;
font-family: 'Monsieur La Doulaise', cursive; */