//Stylesheet for the wedding website 
html, body, section {
    height: 100%;
body {
    background-color: ivory;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.venue {
    display: flex;
}
.hotel {
    display: flex;
}
.travel {
    display: flex;
}
.tourism {
    display: flex;
}
.left-half {
    flex: 1;
    padding: 1rem;
  }
  
  .right-half {
    flex: 1;
    padding: 1rem;
  }